@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #cef0d4;
    padding: 40px;
    margin: 0;
}

h1 {
    font-size: 28px;
    color: rgb(81, 81, 81);
    font-weight: 400;
}

h2{
    font-size: 20px;
    color: rgb(100, 100, 100);
    font-weight: 500;

    border-bottom: 0.5px solid rgb(124, 124, 124);

    width: 400px;
    height: 30px;
}

h3{
    font-size: 16px;
    color: rgb(120, 120, 120);
    font-weight: 600;
}

p{
    font-weight: 400;
    font-size: 16px;
    /*padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;*/
    padding: 10px 5px 15px 20px;
    margin: 10px 5px 15px 20px;

    line-height: 1.5;
    letter-spacing: 0px;
}

p:nth-child(2n+1){
    background-color: #d3d3d3;
}

sup{
    font-size: 10px;
}

.contents_box{
    border: 1px solid black;
    width: 300px;
}

#contents_h2{
    width: 280px;
    border-bottom: 1px solid black;
    padding-left: 20px;
    padding-bottom: 10px;
}

#profile_pic{
    border: 0px solid #686868;
    /*background-color: white;*/
}
